.wrapper{

}
/* Header -------------------------------------------------------------------------------------------*/
.header{
    display: flex;
    border-bottom: 2px solid #bebebe;
    padding-bottom: 8px;
}
.header__link{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    color: var(--primary-text-3);

    .header__link-icon{

    }
    .header__link-title{
        margin-left: 8px;
    }

    &.active {
        color: var(--primary-text-1);
        background-color: var(--primary-bg-4);
        border-radius: 6px;
        .icon{
            display: none;
        }
        .active-icon{
            display: block;
        }
    }
    &.active:hover{
        color: var(--primary-text-1);
        background-color: var(--primary-bg-4);
    }
    &:hover {
        color: var(--text-color);
        background: rgba(22, 24, 35, 0.03);
    }
}

