.wrapper{
    height: 44px;
    padding: 12px 24px;
    display: flex;
    color: var(--primary-text-1);
    background-color: var(--primary-text-3);
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;

    &.disabled{
        pointer-events: none;
        opacity: 0.5;
    }

    &.itemBtn{
        width: 100%;
        font-weight: 500;
        border-radius: 6px;
        background-color: transparent;
        transition: all .3s ease-in;
        &:hover{
            color: var(--primary-text-3);
            background-color: var(--primary-text-2);
        }
        
        .left-icon {
            display: block;
            width: 16px;
            height: 16px;
        }
    }
}
.left-icon + .title,
.title + .right-icon{
    margin-left: 16px;
}

.login.wrapper{
    color: var(--primary-text-1);
    background-color: transparent;
    border: 1px solid var(--primary-text-2);
    transition: all .5s ease;

    &:hover{
        color: var(--primary-text-2);
        background-color: #474747;
        border: 1px solid #b0b027;
    }
}

.primary.wrapper{
    color: var(--primary-text-3);
    background-color: var(--primary-text-1);
}

