@import 'normalize.css';

:root{
    --primary-bg-1: #fff;
    --primary-bg-2: #212121;
    --primary-bg-3: #3B3B3B;   
    --primary-bg-4:  #D89B1C;



    //color: #0bb4f7; color: #de0c0c;

    
    --primary-text-1: #fff;
    // --primary-text-2: #D89B1C;  
    --primary-text-2: #fcb716;  

    --color-danger: #f33a58;

    --color-success: #1dbfaf;

    --header-height: 100px;
    --content-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}


button, input, [tabindex] {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}


// scrollbar

html *::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(28, 29, 32, 0.2);
}

html *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}