.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--header-height);
    background-color: var(--primary-bg-2);
    padding: 30px 0;
}
.container{
    width: var(--content-width);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: calc(60% - 15px) calc(40% - 15px);
    gap: 10px;
    column-gap: 30px;
    border-radius: 12px;
    overflow: hidden;
}


/* Wrap__info ------------------------------------------------------------------------------------*/
.wrap__info {
    color: var(--primary-text-1);
}


.room__detail{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    // .room__image {
    //     width: 100%;
    //     height: auto;
    //     border-radius: 8px;
    //     margin-bottom: 10px;
    // }
    p{
        padding: 4px 0;
        font-size: 1.4rem;

        span{
            margin-left: 5px;
            font-size: 1.8rem;
            font-weight: 500;
        }
    }
    .room__star-rating  {
        margin: 10px 0;
        color: var(--primary-text-2);
    
    }
    
}
.wrap__image{
    display: grid;
    grid-template-columns: 70% 30%; 
    grid-template-rows: auto auto;
    gap: 10px;
    margin-bottom: 20px;
    img{
        width: 100%;
        min-height: 145px;
        max-height: 145px;
        cursor: pointer;
    }
    img:first-child{
        min-height: 300px;
        max-height: 300px;
        grid-column: 1; 
        grid-row: 1 / span 2;
    }
    img:nth-child(2){
        grid-column: 2;
        grid-row: 1;
    }
    img:last-child{
        grid-column: 2;
        grid-row: 2;
    }
}
.room__detail-info{
    position: relative;

    .favorite-rooms{
        position: absolute;
        top: 0;
        right: 0;

        label {
            
            cursor: pointer;

            i{
                color: var(--primary-text-2);
                font-size: 30px;
            }
        }
        input[type="checkbox"] {
            display: none;
        }
    }
}

/* User__info ------------------------------------------------------------------------------------*/
.user__info {
    margin-top: 10px;
    .user__info-title {
        margin-bottom: 16px;
        font-size: 2.2rem;
        font-weight: 700;
    }
    p{
        padding: 4px 0;
        font-size: 1.4rem;

        span{
            margin-left: 5px;
            font-size: 1.8rem;
            font-weight: 500;
        }
    }
}


/* Booking__info ------------------------------------------------------------------------------------*/
.booking__info {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: var(--primary-text-1);
    background-color: var(--primary-bg-3);
    border-radius: 12px;
    box-shadow: 0px 37px 171px 0px rgba(0, 0, 0, 0.07), 0px 11.154px 51.551px 0px rgba(0, 0, 0, 0.04), 0px 4.633px 21.412px 0px rgba(0, 0, 0, 0.03), 0px 1.676px 7.744px 0px rgba(0, 0, 0, 0.02);

}

/* Booking__time ------------------------------------------------------------------------------------*/
.booking__time-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .booking__time-title {
        width: 100%;
        margin-bottom: 20px;
        color: var(--primary-text-1);
        font-size: 2.2rem;
        font-weight: 700;
    }
    
}

.date__select-item{
    flex: 0 0 calc(100% / 2);
    max-width: calc((100% / 2) - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.booking__time{
    flex: 0 0 calc(100% / 2);
    max-width: calc((100% / 2) - 10px);
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid var(--primary-bg-1);
    font-size: 1.2rem;

    span{
        color: var(--primary-text-1);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.16px;
    }
}

/* Booking__amenities ------------------------------------------------------------------------------------*/
.booking__amenities-list{
    width: 100%;
    margin-top: 20px;
    .booking__amenities-title{
        margin-bottom: 20px;
        color: var(--primary-text-1);
        font-size: 2.2rem;
        font-weight: 700;
        
    }
}
.booking__amenities-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;


    .amenities__checkbox {
        display: none;
    }
      
    .amenities__label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--primary-bg-4);
    border: 2px solid #333;
    border-radius: 4px;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    }
      
    .amenities__checkbox:checked + .amenities__label::before {
    background-color: var(--primary-bg-4);
    content: '✔'; 
    font-size: 16px;
    color: #333; 
    text-align: center;
    line-height: 20px;
    }
}


.booking__amenities{
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;

    span{
        color: var(--primary-text-1);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.16px;
    }
}
/* Booking__payment-btn ------------------------------------------------------------------------------------*/
.booking__form-btn{
    width: 100%;
    height: 44px;
    display: block;
    text-align: center;
    margin: 32px 0;
    color: var(--primary-text-3);
    background: var(--primary-bg-1);
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 0.7;
    pointer-events: none;

    &.available{
        opacity: 1;
        cursor: pointer;
        pointer-events: auto;

    }
}
.booking__price-list{
    width: 100%;
    .booking__price-title{
        margin-bottom: 20px;
        color: var(--primary-text-1);
        font-size: 2.2rem;
        font-weight: 700;
    }
}

.booking__price{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 10px;
}
.booking__charge{
    color: var(--primary-text-2);
    font-weight: 600;
}






