.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    background-color: var(--primary-bg-3);
    background-color: #fffdec;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}   

.content{
    width: var(--content-width);
}