.menu-item {
    padding: 12px;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-text-3);
    transition: background-color 200ms ease-in-out 0s;

    &.active {
        color: var(--primary-text-1);
        background-color: var(--primary-bg-4);
        .icon{
            display: none;
        }
        .active-icon{
            display: block;
        }
    }
    &.active:hover{
        color: var(--primary-text-1);
        background-color: var(--primary-bg-4);
    }
    &:hover {
        color: var(--text-color);
        background: rgba(22, 24, 35, 0.03);
    }
}

.title{
    margin-left: 16px;
}
.icon {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: var(--primary-text-2);
}
.active-icon{
    display: none;
    width: 20px;
    height: 20px;
    text-align: center;
}

