.actions__menu-item{
    width: 270px;
    padding: 12px 0;
    background-color: var(--primary-bg-3);
    box-shadow: 0 0 6px 1px var(--primary-bg-4);
    border-radius: 10px;
    overflow: hidden;
}

.menu__body{
    overflow-y: auto;
}
// Header
.header{
    flex-shrink: 0;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-btn{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 80px;
    height: 100%;
    color: var(--primary-text-1);
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}
.Menu__header-title{
    color: var(--primary-text-1);

}

