/* .custom-card-hover {
    transition: all 0.3s ease-in-out; 
}
  
.custom-card-hover:hover {
    border: 1px solid #1890ff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.02); 
} */

.ant-checkbox-disabled+span {
    color: #999999;
}