.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--header-height);
    padding: 40px 0 140px 0;
    background-color: var(--primary-bg-2);
    color: var(--primary-text-1);
}
.container{
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    gap: 20px;

    .find__room{
        // top: var(--header-height);
        margin-top: 20px;
        grid-column: 1 / -1;
        box-shadow: 0 2px 7px 0 rgba(255, 255, 255, 0.6);
        h1{
            font-size: 3rem;
            font-weight: 600;
        }
        p{
            margin-top: 20px;
            margin-left: 40px;
            font-size: 1.8rem;
            line-height: 26px;
        }
    }

}


// Tìm kiếm phòng
.find__room{
    z-index: 2;
    // position: sticky;
    top: 10px;
    gap: 10px;
    margin-top: 10px;
    padding: 15px 0 15px 0;
    background-color: var(--primary-bg-3);
    border-radius: 8px;

    // button{
    //     margin-left: 20px;
    // }
}
.find__room-date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    .find__room-date-title{
        margin: 0!important;
        font-size: 1.6rem!important;
    }
}
.find__room-people{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    label{
        font-size: 1.6rem;
    }
    input{
        padding: 10px 20px;
    }
}
.find__wrap-day-people {
    display: flex;
    gap: 10px;
    padding: 8px 20px;
    color: var(--primary-text-1);
    border: 1px solid #fff;
    border-radius: 15px;
}
.find__room-day{
    display: flex;
    gap: 5px;
    .find__room-day-title{
        margin: 0!important;
    }
    .find__room-day-count{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0!important;
        
    }
    
}
/* Options -------------------------------------------------------------------------*/
.options{
    position: sticky;
    top: 100px;
    grid-column: 1;
    grid-row: 2;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 2px 24px 22px 24px;
    background-color: var(--primary-bg-3);
    border-radius: 6px;
    color: var(--primary-text-1);

}
.option__item{
    display: flex;
    align-items: center;
    margin: 20px 10px 0 10px;
    color: var(--primary-text-1);

    .options__checkbox {
        display: none;
    }
      
    .options__label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: var(--primary-bg-4);
        border: 2px solid #333;
        border-radius: 4px;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
      
    .options__checkbox:checked + .options__label::before {
    background-color: var(--primary-bg-4);
    content: '✔'; 
    font-size: 16px;
    color: #333; 
    text-align: center;
    line-height: 20px;
    }

}

/* Room -------------------------------------------------------------------------*/
.room__list{
    grid-column: 2;
    grid-row: 2 ;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.room__item{
    flex: 0 0 calc((100% / 3) - 30px);
    max-width: calc((100% / 3) - 30px);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    flex-shrink: 0;
    margin: 20px 15px 0 15px;
    padding: 20px 24px;
    border-radius: 12px;
    background-color: var(--primary-bg-3);
    box-shadow: 0px 11.154px 51.551px 0px rgba(0, 0, 0, 0.04);

    img{
        width: 100%;
        height: 180px;
        border-radius: 8px;
        object-fit: cover;
    }
    .options__checkbox {
        display: none;
    }
      
    .options__label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: var(--primary-bg-4);
        border: 2px solid #333;
        border-radius: 4px;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
      
    .options__checkbox:checked + .options__label::before {
    background-color: var(--primary-bg-4);
    content: '✔'; 
    font-size: 16px;
    color: #333; 
    text-align: center;
    line-height: 20px;
    }
}

/* Header ------------------------------------------------------------------------------------*/

    


/* Body ------------------------------------------------------------------------------------*/

.room__body{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}
.room__title{
    grid-column: 1;
    grid-row: 1;
    color: var(--primary-text-1);
    font-size: 2rem;
    font-weight: 700;
    white-space: normal;
    
}
.room__des{
    grid-column: 1;
    grid-row: 1;
    color: var(--primary-text-1);
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}
.room__overview{
    max-width: 70%;
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: 10px;
    color: #0bb4f7;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;          
    text-overflow: ellipsis;
    
}
/* Footer ------------------------------------------------------------------------------------*/

.room__footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.room__star-rating{
    margin: 10px 0;
    color: var(--primary-text-2);
    cursor: pointer;
    user-select: none;

}
.room__price{
    color: var(--primary-text-2);
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

// test phòng
