.header{
    height: var(--header-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-text-1);
    background-color: var(--primary-bg-3);

    a{
        color: var(--primary-text-1);
    }
    h1{
        font-size: 2.4rem;
        font-weight: 700;
    }
}
.nav__main{
    a{
        color: var(--primary-text-1);
        + a{
            margin-left: 20px;
        }
    }
}
.nav__task{
    a{
        color: var(--primary-text-1);
        + a{
            margin-left: 20px;
        }
    }
}