/* Modal Login ----------------------------------------------------------------------------------*/

.showModal {
    display: flex!important;
}
.login__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.register__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.login__modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 66, 67, 0.5);
    border-radius: 6px;
    overflow: hidden;

}
.login__modal-content{
    min-width: 595px;
    max-width: 595px;
    min-height: 200px;
    max-height: 653px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px;
    background-color: #eee;
    overflow-y: auto;
}

/* Modal Login Header ----------------------------------------------------------------------------------*/

.login__content-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.login__content-title{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 12px 0;
}
.login__content-sugges{
    width: min(400px, 90%);
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5;
}

/* Modal Login Body ----------------------------------------------------------------------------------*/

.login__content-body{
    width: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__content-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    width: 360px;

    .result-register,
    .result-login{
        margin: 8px 0;
        color: #f33a58;
        font-size: 1.4rem;
    }
}
.login__content-item{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label{
        font-size: 1.4rem;
        font-weight: 600;
        margin: 10px 0 10px 8px;
    }
    
    &.check-remember{
        flex-direction: row;
        justify-content: start;
    }
}
.login__wrap-input {
    position: relative;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #ddd;
    background-color: transparent;
    border-radius: 44px;

    &:focus-within{
        border-color: var(--button-color);
    }
    input{
        width: 100%;
        display: block;
        padding: 12px 42px 12px 20px;
        border: none;
        font-size: 1.4rem;
        background-color: transparent;
    }

    .login__right-icon{
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translateY(-50%);
        color: #8b8b8b;
        padding: 4px;
        cursor: pointer;
    }

}

.login__content-btn{
    position: relative;
    width: 100%;
    margin-top: 10px;
    
    opacity: 0.8;
    transition: all 0.3s;

    &:hover{
        opacity: 1;
    }
    button{
        width: 100%;
        height: 44px;
        padding: 12px 20px;
        font-size: 1.6rem;
        font-weight: 600;
        background: linear-gradient(135deg, #efca00, #FFFACD);
        border-radius: 44px;
        border: 1.5px solid #ddd;
        cursor: pointer;

    }
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        color: var(--primary-text-1);
    }

}

/* Modal Login Footer ----------------------------------------------------------------------------------*/

.login__content-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    font-size: 1.4rem;

    a{
        text-decoration: underline;
    }
    > a{
        margin-top: 10px;
        margin-left: 4px;
        color: var(--primary-text-2);
        font-weight: 600; 

    }
}
.login__content__sugges-regis{
    padding: 24px 16px 0;
    font-size: 1.4rem;
    line-height: 1.8;

    a{  
        margin-left: 4px;
        color: var(--primary-text-2);
        font-weight: 600; 
    }
}
.login__content__sugges-about{
    width: min(400px, 100%);
    text-align: center;
    padding: 16px;
    color: #666;
    font-size: 1.1rem;

    a{
        color: #666;
    }
    
}