.wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/* Options -------------------------------------------------------------------------*/
.options{
    display: flex;
    flex-wrap: wrap;
    padding: 2px 24px 22px 24px;
    background-color: var(--admin-bg-2);
    border-radius: 6px;
}
.option__item{
    flex: 1 0 calc(20% - 20px);
    max-width: calc(20% - 20px);
    display: flex;
    align-items: center;
    margin: 20px 10px 0 10px;

    label{
        margin-left: 10px;
        color: var(--primary-text-1);
    }
    input{
        width: 20px;
        height: 20px;
    }
}

/* Room -------------------------------------------------------------------------*/
.room__title{
    color: var(--primary-text-1);
}
.room__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

/* Room Item -------------------------------------------------------------------------*/
.room__item{
    flex: 0 0 calc(50% - 20px);
    width: calc(50% - 20px);
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px;
    padding: 8px 12px;
    color: var(--primary-text-1);
    background-color: var(--admin-bg-2);
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s ease;


    &:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }
}
.room__image{
    display: flex;
    img{
        width: 120px;
        height: 70px;
    }
}

/* Room body -------------------------------------------------------------------------*/

.room__body{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 24px;
}


.room__body-child{
    flex-basis: 0 0 calc(100% / 4);
    width: 20%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    p{
        max-width: 200px;
        white-space: nowrap;
        // overflow: hidden;
        text-overflow: ellipsis;

        + p{
            margin-top: 20px;
        }
        
    }

    .room__name,
    .room__overview{
        color: #0bb4f7;
    }

    .room__price{
        color: #ffc107;
    }
    .room__status{
        color: #00bf66;
    }
}


.modal__delete{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 24px;
    background-color: #fff;
}
.modal__body{
    display: flex;

    button{
        margin-left: 10px;
        padding: 12px;
        cursor: pointer;

        &:first-child{
            color: #fff;
            background-color: #800000;
        }
    }
}

/* Room Item -------------------------------------------------------------------------*/

.room__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}




