.wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/* Options -------------------------------------------------------------------------*/
.options{
    display: flex;
    flex-wrap: wrap;
    padding: 2px 24px 22px 24px;
    background-color: var(--admin-bg-2);
    border-radius: 6px;
    color: var(--primary-text-1);

}
.option__item{
    flex: 1 0 calc(20% - 20px);
    max-width: calc(20% - 20px);
    display: flex;
    align-items: center;
    margin: 20px 10px 0 10px;
    color: var(--primary-text-1);

    .options__checkbox {
        display: none;
    }
      
    .options__label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: var(--primary-bg-4);
        border: 2px solid #333;
        border-radius: 4px;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
      
    .options__checkbox:checked + .options__label::before {
    background-color: var(--primary-bg-4);
    content: '✔'; 
    font-size: 16px;
    color: #333; 
    text-align: center;
    line-height: 20px;
    }


}

/* Actions-------------------------------------------------------------------------*/
.actions{
    position: sticky;
    top: 100px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 20px 12px;
    color: var(--primary-text-1);
    background-color: var(--primary-bg-2);
    border-radius: 6px;

    .checkbox{
        
        label{
            cursor: pointer;
        }
    }
    select{
        min-width: 150px;
        min-height: 40px;
        margin: 0 10px 0 30px;
        cursor: pointer;
    }
    .checkbox__msg{
        margin-left: 20px;
    }
}
/* Room -------------------------------------------------------------------------*/
.room__title{
    color: var(--primary-text-1);
}
.room__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

/* Room Item -------------------------------------------------------------------------*/
.room__item{
    flex: 0 0 calc(50% - 20px);
    width: calc(50% - 20px);
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px;
    padding: 8px 12px;
    color: var(--primary-text-1);
    background-color: var(--admin-bg-2);
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s ease;


    &:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }
}
.checkbox{
    padding: 0 10px 0 8px;
    .actions__checkbox {
        display: none;
    }
    .actions__label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: var(--primary-bg-4);
        border: 1px solid #333;
        border-radius: 4px;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
      
    .actions__checkbox:checked + .actions__label::before {
    background-color: var(--primary-bg-4);
    content: '✔'; 
    font-size: 16px;
    color: #333; 
    text-align: center;
    line-height: 20px;
    }
}
.room__image{
    display: flex;
    img{
        width: 120px;
        height: 70px;
        border-radius: 6px;
    }
}

/* Room body -------------------------------------------------------------------------*/

.room__body{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 24px;
}


.room__body-child{
    flex-basis: 0 0 calc(100% / 2);
    width: 20%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &:first-child{
        flex: 1.1!important;
    }
    &:last-child{
        flex: 1.2!important;
    }
    p{
        max-width: 200px;
        white-space: nowrap;
        // overflow: hidden;
        text-overflow: ellipsis;

        + p{
            margin-top: 20px;
        }
        
    }

    .room__name,
    .room__overview{
        color: #0bb4f7;
    }

    .room__price{
        color: #ffc107;
    }
    .room__status{
        color: #00bf66;
    }
}


.modal__delete{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 24px;
    background-color: #fff;
}
.modal__body{
    display: flex;

    button{
        margin-left: 10px;
        padding: 12px;
        cursor: pointer;

        &:first-child{
            color: #fff;
            background-color: #800000;
        }
    }
}

/* Room Item -------------------------------------------------------------------------*/

.room__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}



.notification{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 12px 24px;
    color: var(--primary-text-1);
    font-size: 2rem;
    font-weight: 600;
}
.notification__link{
    padding: 16px 0;
    color: #00d873;
    transition: all .3s linear;

    &:hover{
        color: #00ff88;
    }
}

// modall
.custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-modal {
    position: relative;
    width: 800px;
    background-color: var(--primary-bg-3);
    border-radius: 10px;
    padding: 20px 40px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
    color: var(--primary-text-1);
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 25px;
        text-align: center;
        color: var(--primary-text-2);
        border-bottom: 2px solid #8a8a8a;
        padding-bottom: 15px;
      }
    p {
        font-size: 16px;
        line-height: 1.6;
        text-align: justify;
        margin-bottom: 20px;
    }
    .wrap__close-button{
        display: flex;
        justify-content: flex-end;
    }
    .close-button {
    text-align: center;
    width: 100px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    }
}

  
.close-button:hover {
    background-color: #ff7875;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.modal__info-list{
    padding: 20px 0 24px;
    border-bottom: 1px solid #575757;
    

    
}
.modal__info-title{
    color: var(--primary-text-1);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 26px; 
    margin-bottom: 16px;
}
.modal__info-item{
    display: flex;
    justify-content: space-between;
    color: var(--primary-text-1);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px; 

    span{
        font-weight: 600;
    }
    
}
.wrap__expense{
    .wrap__image{
        max-width: calc(100% - 10px);
        display: grid;
        grid-template-columns: 70% 30%; 
        grid-template-rows: auto auto;
        gap: 10px;
        margin-bottom: 20px;
        img{
            width: 100%;
            min-height: 195px;
            max-height: 195px;
            cursor: pointer;
            object-fit: cover;
        }
        img:first-child{
            min-height: 400px;
            max-height: 400px;
            grid-column: 1; 
            grid-row: 1 / span 2;
        }
        img:nth-child(2){
            grid-column: 2;
            grid-row: 1;
        }
        img:last-child{
            grid-column: 2;
            grid-row: 2;
        }
    }
}
.expense {
    margin-top: 24px;
    padding: 24px 0;
    border-top: 1px solid #575757;
}
