.wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/* Options -------------------------------------------------------------------------*/
.options{
    display: flex;
    flex-wrap: wrap;
    padding: 2px 24px 22px 24px;
    background-color: var(--admin-bg-2);
    border-radius: 6px;
    color: var(--primary-text-1);

}
.option__item{
    flex: 1 0 calc(20% - 20px);
    max-width: calc(20% - 20px);
    display: flex;
    align-items: center;
    margin: 20px 10px 0 10px;
    color: var(--primary-text-1);

    .options__checkbox {
        display: none;
    }
      
    .options__label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: var(--primary-bg-4);
        border: 2px solid #333;
        border-radius: 4px;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
      
    .options__checkbox:checked + .options__label::before {
    background-color: var(--primary-bg-4);
    content: '✔'; 
    font-size: 16px;
    color: #333; 
    text-align: center;
    line-height: 20px;
    }


}

/* Actions-------------------------------------------------------------------------*/
.actions{
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 20px 12px;
    color: var(--primary-text-1);
    background-color: var(--primary-bg-2);
    border-radius: 6px;

    .checkbox{
        
        label{
            cursor: pointer;
        }
    }
    select{
        min-width: 150px;
        min-height: 40px;
        margin: 0 10px 0 30px;
        cursor: pointer;
    }
    .checkbox__msg{
        margin-left: 20px;
    }
}
/* Room -------------------------------------------------------------------------*/
.room__title{
    color: var(--primary-text-1);
}
.room__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

/* Room Item -------------------------------------------------------------------------*/
.room__item{
    flex: 0 0 calc(50% - 20px);
    width: calc(50% - 20px);
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px;
    padding: 8px 12px;
    color: var(--primary-text-1);
    background-color: var(--admin-bg-2);
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s ease;


    &:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }
}
.checkbox{
    padding: 0 10px 0 8px;
    .actions__checkbox {
        display: none;
    }
    .actions__label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: var(--primary-bg-4);
        border: 1px solid #333;
        border-radius: 4px;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
      
    .actions__checkbox:checked + .actions__label::before {
    background-color: var(--primary-bg-4);
    content: '✔'; 
    font-size: 16px;
    color: #333; 
    text-align: center;
    line-height: 20px;
    }
}
.room__image{
    display: flex;
    img{
        width: 120px;
        height: 70px;
        border-radius: 6px;
    }
}

/* Room body -------------------------------------------------------------------------*/

.room__body{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 24px;
}


.room__body-child{
    flex-basis: 0 0 calc(100% / 4);
    width: 20%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    p{
        max-width: 200px;
        white-space: nowrap;
        // overflow: hidden;
        text-overflow: ellipsis;

        + p{
            margin-top: 20px;
        }
        
    }

    .room__name,
    .room__overview{
        color: #0bb4f7;
    }

    .room__price{
        color: #ffc107;
    }
    .room__status{
        color: #00bf66;
    }
}


.modal__delete{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 24px;
    background-color: #fff;
}
.modal__body{
    display: flex;

    button{
        margin-left: 10px;
        padding: 12px;
        cursor: pointer;

        &:first-child{
            color: #fff;
            background-color: #800000;
        }
    }
}

/* Room Item -------------------------------------------------------------------------*/

.room__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}



.notification{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 12px 24px;
    color: var(--primary-text-1);
    font-size: 2rem;
    font-weight: 600;
}
.notification__link{
    padding: 16px 0;
    color: #00d873;
    transition: all .3s linear;

    &:hover{
        color: #00ff88;
    }
}